#main-wrapper{
    display: flex;
    width: 100%;
    justify-content:center;
}
#dialler-wrapper{
    width:50%;
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.dialler-box{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
#number-box{
    background-color: #242e3d;
    height: 120px;
}
#touchpad-box{
    background-color: #2c3a4c;
    flex-direction: column;
}
#button-box{
    background-color: #37485f;
}
#number-text{
    color: #ffffff;
    font-size: 20pt;
}
#main-button{
    width: 122px;
    height: 35px;
    margin: 30px 0 30px;
    border-radius: 3px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.main-button-disabled{
    background-color: #919191;
    cursor: not-allowed;
}
.main-button-enabled-dial{
    cursor: pointer;
    background-color: #3fac5b;
}
.main-button-enabled-dial:hover{
    background-color:#54be78
}
.main-button-enabled-hangup{
    cursor: pointer;
    background-color: #d24727;
}
.main-button-enabled-hangup:hover{
    background-color:#e1613f
}
#main-button-text{
    color: #ffffff;
    font-size: 10pt;
}
.touchpad-row{
    width:100%;
    height: 100px;
    display: flex;
}
.touchpad-cell{
    display: flex;
    flex-grow: 1;
    height: inherit;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}
.touchpad-cell:hover{
    background-color: #3e5064;
}
.touchpad-number{
    color: #ffffff;
    font-size: 15pt;
}
.standard-text{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.grey-bottom-bordered-div{
    border-bottom: 3px solid #4b5b6f;
}
.grey-right-bordered-div{
    border-right: 3px solid #4b5b6f
}
@media only screen and (max-width: 736px) {
    #dialler-wrapper{
        width:100%;
    }
}