<!--The content below is only a placeholder and can be replaced.-->
<div id="main-wrapper">
  <div id="dialler-wrapper">
    <div id="number-box" class="dialler-box grey-bottom-bordered-div">
      <p id="number-text" class="standard-text">
        {{dialledNumber}}
      </p>

    </div>
    <div id="touchpad-box" class="dialler-box">

      <div class="touchpad-row grey-bottom-bordered-div">
        <div class="touchpad-cell grey-right-bordered-div" (click)="touchPadButtonClicked($event)" >
          <p class="standard-text touchpad-number">1</p>
        </div>
        <div class="touchpad-cell grey-right-bordered-div" (click)="touchPadButtonClicked($event)">
          <p class="standard-text touchpad-number">2</p>
        </div>
        <div class="touchpad-cell">
          <p class="standard-text touchpad-number">3</p>
        </div>
      </div>
      <div class="touchpad-row grey-bottom-bordered-div">
        <div class="touchpad-cell grey-right-bordered-div">
          <p class="standard-text touchpad-number">4</p>
        </div>
        <div class="touchpad-cell grey-right-bordered-div">
          <p class="standard-text touchpad-number">5</p>
        </div>
        <div class="touchpad-cell">
          <p class="standard-text touchpad-number">6</p>
        </div>
      </div>
      <div class="touchpad-row grey-bottom-bordered-div">
        <div class="touchpad-cell grey-right-bordered-div">
          <p class="standard-text touchpad-number">7</p>
        </div>
        <div class="touchpad-cell grey-right-bordered-div">
          <p class="standard-text touchpad-number">8</p>
        </div>
        <div class="touchpad-cell">
          <p class="standard-text touchpad-number">9</p>
        </div>
      </div>
      <div class="touchpad-row grey-bottom-bordered-div">
        <div class="touchpad-cell grey-right-bordered-div">
          <p class="standard-text touchpad-number">*</p>
        </div>
        <div class="touchpad-cell grey-right-bordered-div">
          <p class="standard-text touchpad-number">0</p>
        </div>
        <div class="touchpad-cell">
          <p class="standard-text touchpad-number">#</p>
        </div>
      </div>





    </div>
    <div id="button-box" class="dialler-box">
      <div id="main-button" class="main-button-disabled">
        <p id="main-button-text" class="standard-text">
          Dial
        </p>
      </div>

    </div>


  </div>


</div>