<!--The content below is only a placeholder and can be replaced.-->
<div id="main-wrapper">
  <div id="dialler-wrapper">
    <div id="number-box" class="dialler-box">
      <p id="number-text">
        07415882971
      </p>

    </div>
    <div id="touchpad-box" class="dialler-box">
      <p>
        dsgdg
      </p>

    </div>
    <div id="button-box" class="dialler-box">
      <div id="main-button">
        <p id="main-button-text">
          Dial
        </p>
      </div>

    </div>


  </div>


</div>